{
  "printWidth": 80,
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "bracketSpacing": false
      }
    }
  ]
}
